@model TicketTracker.ViewModels.TicketViewModel

@{
    ViewBag.Title = "Ticket Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Subject)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subject)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SeverityLevelName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SeverityLevelName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReporterName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReporterName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsResolved)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Resolved)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TicketId }) |
    @Html.ActionLink("Back to Dashboard", "OpenTickets", "Tickets")
</p>
