@model IEnumerable<TicketTracker.ViewModels.TicketViewModel>

@{
    ViewBag.Title = "Resolved Tickets";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table id="resolvedTicketsTable" class="table table-responsive table-bordered table-striped tablesorter">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Subject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SeverityLevelName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReporterName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsResolved)
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var ticket in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => ticket.Subject)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => ticket.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => ticket.SeverityLevelName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => ticket.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => ticket.DateCreated)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => ticket.ReporterName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => ticket.Resolved)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = ticket.TicketId }) |
                    @Html.ActionLink("Details", "Details", new { id = ticket.TicketId }) |
                    @if (User.IsInRole("Admin"))
                    {
                        @Html.ActionLink("Re-Open", "MarkAsOpen", new { id = ticket.TicketId })
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts {
    <script type="text/javascript">
        $(function(){
            $("#resolvedTicketsTable").tablesorter({
                sortList: [[4, 1]],
                cssHeader: 'header',
                cssAsc: 'headerSortUp',
                cssDesc: 'headerSortDown',
                headers: {
                    1: { sorter: false },
                    6: { sorter: false },
                    7: { sorter: false }
                }
            });
            $("#resolvedTicketsTable thead tr th:eq(1), #openTicketsTable thead tr th:eq(6), #openTicketsTable thead tr th:eq(7)")
                .removeClass("header headerSortUp headerSortDown");
        });
    </script>
}
